###############################################################################
# Please modify this file if you want to configure your own library.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if USER_LIBS_READLINE
	comment "No additional options for READLINE"

# 	config USER_LIBS_READLINE_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
