if USER_MODULES_FIFO_DEV
 	config USER_MODULES_FIFO_DEV_BSP
	string "Path to Xilinx-generated BSP containing xparameters.h"
	default "$(ROOTDIR)/vendors/$(CONFIG_VENDOR)/$(CONFIG_PRODUCT)"
	help
	  Enter a path to your hardware project's SDK BSP include path.  You can probably find
	  it with something like:   find /path/to/hardware-project -name xparameters.h
endif

