###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if USER_APPS_MEMTESTER
	comment "No additional options for MEMTESTER"

# 	config USER_APPS_MEMTESTER_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
